<div class="mt-4">
  <div class="col-11">
           <div>
             <h3>{{i["job_title"]}}</h3>
            </div>
    
            <div class="mt-4 Lead">
              <b>Location: </b>
              {{i["job_location"]}}
            </div>
    
            <div class="mt-4 lead">
              <b>Salary: </b>
              {{i["salary"]}}
            </div>
  </div>
  <div class="col-1 mt-3" >

           <button type="button" class="btn btn-outline-primary">Apply</button> 
  </div>
           