<html>
  <head>
    <title>Person Data</title>
  </head>

  <body>
    <form action = "/person" method = "post">
      <h2>Person id</h2>
      <input type = "text" name="PersonID">

      <h2>Last Name</h2>
      <input type = "text" name="LastName">

      <h2>First Name</h2>
      <input type = "text" name="FirstName">

      <h2>Address</h2>
      <input type = "text" name="Address">

      <h2>City</h2>
      <input type = "text" name="City">

      <input type = "submit" name ="submit">
    </form>
  </body>
</html>